schema/dita_lce/lceShells/lceLearningContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!--                    HEADER                                     -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- lce specialization including more interactions                -->

<!-- version: 1.0.0  date:  author: Birgit -->
<!-- base version -->

<!-- version: 2.0.0  date: 14-03-2018  author: Birgit -->
<!-- version: 2.2.0  date: 26-11-2019  author: Birgit -->
<!-- version: 2.2.1  date: 21-08-2020  author: Birgit -->
<!-- version: 2.3.0  date:   author: Birgit -->
<!-- version: 2.4.0  date:   author: Birgit -->
<!-- version: 2.5.0  date: 02-02-2022  author: Birgit -->

<!-- ============================================================= -->
<xs:schema xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
<!-- ================ TOPIC DOMAINS ===================== -->
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:deliveryTargetAttDomain.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:highlightDomain.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:indexingDomain.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:releaseManagementDomain.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:utilitiesDomain.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningDomain.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learning2Domain.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningMetadataDomain.xsd:1.3"/>
   <!-- add to include MathML and SVG-->
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:mathmlDomain.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:equationDomain.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:svgDomain.xsd:1.3"/>

   <!-- ================ GROUP DEFINITIONS ===================== -->
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:tblDeclGrp.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningBaseGrp.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:topicGrp.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:taskGrp.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:conceptGrp.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:referenceGrp.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningSummaryGrp.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningAssessmentGrp.xsd:1.3"/>
   <xs:include schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningContentGrp.xsd:1.3"/>

   <!-- =================  MODULE INCLUDE DEFINITION  ================== -->
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:commonElementMod.xsd:1.3"/>

   <!-- ======== Table elements ======== -->
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:tblDeclMod.xsd:1.3"/>

   <!-- ======= MetaData elements, plus keyword and indexterm ======= -->
   <xs:include schemaLocation="urn:oasis:names:tc:dita:xsd:metaDeclMod.xsd:1.3"/>
   
   <!-- Add -->
   <!-- ======= lce specialization modules ======= -->
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceGGMDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceInlineInteractionDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceTextEntryDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceGapMatchDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceInlineChoiceDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceHottextDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceDrawDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceGraphicDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lcePuzzleGeneralDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceAcrosticInteractionDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceCrossWordInteractionDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceMultipleMatchDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceFeedbackDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceDataDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lcePerformDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceGTEDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceGapDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceChainMatchingDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceGraphicAssociateDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceMatchDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceEntryDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceExplanationDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceBoxDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceMathDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceRefDomainMod.xsd"/>
   
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceAnswerAttsDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceOrientationAttsDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceEduAttsDomain.xsd"/>
   <xs:include schemaLocation="urn:dita13lce:names:xsd:lceContentclassAttsDomain.xsd"/>
   
   <!--  -->

   <xs:redefine schemaLocation="urn:oasis:names:tc:dita:xsd:commonElementGrp.xsd:1.3">
      <xs:group name="data">
         <xs:choice>
            <xs:group ref="data"/>
            <xs:group ref="ut-d-data"/>
            <xs:group ref="lcedata-d-data"/>
         </xs:choice>
      </xs:group>
      <xs:group name="note">
         <xs:choice>
            <xs:group ref="note"/>
            <xs:group ref="learning-d-note"/>
            <xs:group ref="learning2-d-note"/>
         </xs:choice>
      </xs:group>
      <xs:group name="fig">
         <xs:choice>
            <xs:group ref="fig"/>
            <xs:group ref="ut-d-fig"/>
            <xs:group ref="learningInteractionBase-d-fig"/>
            <xs:group ref="learning-d-fig"/>
            <!-- add -->
            <xs:group ref="equation-d-fig"/>
            <xs:group ref="lcebox-d-fig"/>
         </xs:choice>
      </xs:group>
      <xs:group name="div">
         <xs:choice>
            <xs:group ref="div"/>
            <xs:group ref="learningInteractionBase2-d-div"/>
            <xs:group ref="learning2-d-div"/>
            <!-- add -->
            <xs:group ref="equation-d-div"/>
            <xs:group ref="lcegraphicinteraction-d-div"/>
            <xs:group ref="lceinlineinteraction-d-div"/>
            <xs:group ref="lcematchinteraction-d-div"/>
            <xs:group ref="lcepuzzle-d-div"/>
            <xs:group ref="lceperforminteraction-d-div"/>
            <xs:group ref="lcegapinteraction-d-div"/>
            <xs:group ref="lcechainmatching-d-div"/>
         </xs:choice>
      </xs:group>
      <xs:group name="ph">
         <xs:choice>
            <xs:group ref="ph"/>
            <xs:group ref="hi-d-ph"/>
            <!-- add -->
            <xs:group ref="equation-d-ph"/>
            <xs:group ref="lceinlineinteraction-d-ph"/>
         </xs:choice>
      </xs:group>
      <xs:group name="foreign">
         <xs:choice>
            <xs:group ref="foreign"/>
            <!-- add -->
            <xs:group ref="mathml-d-foreign"/>
            <xs:group ref="svg-d-foreign"/>
         </xs:choice>
      </xs:group>
      <xs:group name="index-base">
         <xs:choice>
            <xs:group ref="index-base"/>
            <xs:group ref="indexing-d-index-base"/>
         </xs:choice>
      </xs:group>
      <xs:group name="xref">
            <xs:choice>
               <xs:group ref="xref"/>
               <xs:group ref="lcegapinteraction-d-xref"/>
            </xs:choice>         
      </xs:group>
      <xs:attributeGroup name="props-attribute-extensions">
         <xs:attributeGroup ref="props-attribute-extensions"/>
         <xs:attributeGroup ref="deliveryTargetAtt-d-attribute"/>
         <xs:attributeGroup ref="lceContentclassAtt-d-attribute"/>
      </xs:attributeGroup>
      <xs:attributeGroup name="base-attribute-extensions">
         <xs:attributeGroup ref="base-attribute-extensions"/>
         <xs:attributeGroup ref="lceAnswerAtt-d-attribute"/>
         <xs:attributeGroup ref="lceOrientationAtt-d-attribute"/>
         <xs:attributeGroup ref="lceEduAtt-d-attribute"/>
      </xs:attributeGroup>
   </xs:redefine>
   <xs:redefine schemaLocation="urn:oasis:names:tc:dita:xsd:metaDeclGrp.xsd:1.3">
      <xs:group name="metadata">
         <xs:choice>
            <xs:group ref="metadata"/>
            <xs:group ref="relmgmt-d-metadata"/>
            <xs:group ref="learningmeta-d-metadata"/>
         </xs:choice>
      </xs:group>
   </xs:redefine>
   <xs:redefine schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningInteractionBaseDomain.xsd:1.3">
      <xs:group name="lcInteractionBase">
         <xs:choice>
            <xs:group ref="lcInteractionBase"/>
            <xs:group ref="learning-d-lcInteractionBase"/>
         </xs:choice>
      </xs:group>
   </xs:redefine>
   <xs:redefine schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningInteractionBase2Domain.xsd:1.3">
      <xs:group name="lcInteractionBase2">
         <xs:choice>
            <xs:group ref="lcInteractionBase2"/>
            <xs:group ref="learning2-d-lcInteractionBase2"/>
            <!-- add -->
            <xs:group ref="lcegraphicinteraction-d-lcInteractionBase2"/>
            <xs:group ref="lceinlineinteraction-d-lcInteractionBase2"/>
            <xs:group ref="lcematchinteraction-d-lcInteractionBase2"/>
            <xs:group ref="lcepuzzle-d-lcInteractionBase2"/>
            <xs:group ref="lceperforminteraction-d-lcInteractionBase2"/>
            <xs:group ref="lcegapinteraction-d-lcInteractionBase2"/>
            <xs:group ref="lcechainmatching-d-lcInteractionBase2"/>
         </xs:choice>
      </xs:group>
   </xs:redefine>


   <xs:include schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningBaseMod.xsd:1.3"/>
   <xs:redefine schemaLocation="urn:oasis:names:tc:dita:xsd:topicMod.xsd:1.3">
      <xs:group name="topic-info-types">
         <xs:choice>
            <xs:group ref="info-types"/>
         </xs:choice>
      </xs:group>
   </xs:redefine>
   <xs:redefine schemaLocation="urn:oasis:names:tc:dita:xsd:taskMod.xsd:1.3">
      <xs:group name="task-info-types">
         <xs:choice>
            <xs:group ref="info-types"/>
         </xs:choice>
      </xs:group>
   </xs:redefine>
   <xs:redefine schemaLocation="urn:oasis:names:tc:dita:xsd:conceptMod.xsd:1.3">
      <xs:group name="concept-info-types">
         <xs:choice>
            <xs:group ref="info-types"/>
         </xs:choice>
      </xs:group>
   </xs:redefine>
   <xs:redefine schemaLocation="urn:oasis:names:tc:dita:xsd:referenceMod.xsd:1.3">
      <xs:group name="reference-info-types">
         <xs:choice>
            <xs:group ref="info-types"/>
         </xs:choice>
      </xs:group>
   </xs:redefine>
   <xs:redefine schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningSummaryMod.xsd:1.3">
      <xs:group name="learningSummary-info-types">
         <xs:choice>
            <xs:group ref="info-types"/>
         </xs:choice>
      </xs:group>
   </xs:redefine>
   <xs:redefine schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningAssessmentMod.xsd:1.3">
      <xs:group name="learningAssessment-info-types">
         <xs:choice>
            <xs:group ref="info-types"/>
         </xs:choice>
      </xs:group>
   </xs:redefine>
   <xs:redefine schemaLocation="urn:oasis:names:tc:dita:spec:learning:xsd:learningContentMod.xsd:1.3">
      <xs:group name="learningContent-info-types">
         <xs:choice>
            <xs:group ref="info-types"/>
         </xs:choice>
      </xs:group>
      <xs:group name="learningContent.content">
         <xs:sequence>
            <xs:group ref="learningContent.content"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="concept"/>
               <xs:element ref="reference"/>
               <xs:element ref="task"/>
               <xs:element ref="topic"/>
            </xs:choice>
            <xs:sequence>
               <xs:element ref="learningAssessment" minOccurs="0"/>
               <xs:element ref="learningSummary" minOccurs="0"/>
            </xs:sequence>
         </xs:sequence>
      </xs:group>
   </xs:redefine>
   <!--  ================ INFO-TYPES DEFINITION =====================  -->
   <xs:group name="info-types">
      <xs:annotation>
         <xs:documentation>
This group is referenced in all topic modules but not defined there.
It must be declared in topic-type shells.
</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element ref="no-topic-nesting"/>
      </xs:choice>
   </xs:group>

   <xs:attributeGroup name="domains-att">
      <xs:attribute name="domains"
                    type="xs:string"
                    default="topic svg-d) (topic concept) (topic hi-d) (topic indexing-d) (topic learningBase+learningInteractionBase-d) (topic learningBase+learningInteractionBase-d learningAssessment) (topic learningBase learningSummary) (topic learningBase+learningInteractionBase-d learningContent) (topic learningBase+learningInteractionBase-d+learningInteractionBase2) (topic learningInteractionBase-d learning-d) (topic learningInteractionBase-d) (topic learningInteractionBase2-d learning2-d) (topic learningInteractionBase2-d) (topic learningmeta-d) (topic reference) (topic relmgmt-d) (topic task) (topic ut-d) a(props deliveryTarget) 
                    (lce lcegraphic-d) (lce lcedraw-d) (lce lceggm-d) (lce lceinlinechoice-d) (lce lceinlineinteraction-d) (lce lcetextentry-d) (lce lcelcegapmatch-d) 
                    (lce lcehottext-d) (lce lcelcemultiplematch-c) (lce lcelcemultiplematch-d) (lce lcearosticinteraction-d) (lce lcepuzzle-d) (lce lcedata-d) (lce lcefeedback-d)
                    (lce lcegraphictextentry-d) (lce lcecrosswordinteraction-d) (lce lcechainmatching-d) (lce lcematch-d) (lce lcega-d) (lce lceentry-d)"/>
   </xs:attributeGroup>
</xs:schema>
