schema/alt_interaction_schemas/inlineInteraction2Domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:annotation>
        <xs:appinfo>
            <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(topic learningInteractionBase2-d inlineInteraction-d)</dita:domainsModule>
        </xs:appinfo>
    </xs:annotation>
    
    
    <xs:group name="inlineInteraction-d-ph">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcAnswerPlaceholder"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcAnswerPlaceholder">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcAnswerPlaceholder"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="inlineInteraction-d-div">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcGapMatch2"/>
                <xs:element ref="lcHottext2"/>
                <xs:element ref="lcTextEntry2"/>
                <xs:element ref="lcInlineChoice2"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="inlineInteraction-d-lcInteractionBase2">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcGapMatch2"/>
                <xs:element ref="lcHottext2"/>
                <xs:element ref="lcTextEntry2"/>
                <xs:element ref="lcInlineChoice2"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcGapMatch2">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcGapMatch2"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcHottext2">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcHottext2"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcTextEntry2">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcTextEntry2"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcInlineChoice2">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcInlineChoice2"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcInlineMap">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcInlineMap"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcInlineAnswer">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcInlineAnswer"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcInlineGroupMap">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcInlineGroupMap"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcInlineAnswerGroup">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcInlineAnswerGroup"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcInlineAnswerContent">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lcInlineAnswerContent"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>

    
<!-- ================================================================= -->
    
    <xs:element name="lcAnswerPlaceholder">
        <xs:annotation>
            <xs:documentation>A placeholder which can be linked by an inline question</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcAnswerPlaceholder.class">
                    <xs:attribute ref="class"
                        default="+ topic/ph learningInteractionBase2-d/ph inlineInteraction-d/lcAnswerPlaceholder "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcAnswerPlaceholder.class">
        <xs:sequence>
            <xs:group ref="lcAnswerPlaceholder.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcAnswerPlaceholder.attributes"/>
    </xs:complexType>
    <xs:group name="lcAnswerPlaceholder.content">
        <xs:sequence/>
    </xs:group>
    <xs:attributeGroup name="lcAnswerPlaceholder.attributes">
        <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
        <xs:attributeGroup ref="conref-atts"/>
        <xs:attributeGroup ref="select-atts"/>
        <xs:attributeGroup ref="localization-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <!-- ================================================================= -->    
    
    <xs:element name="lcGapMatch2">
        <xs:annotation>
            <xs:documentation>In a lcGapMatch interaction, the learner drag en drop text gaps in a text </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcGapMatch2.class">
                    <xs:attribute ref="class"
                        default="+ topic/div learningInteractionBase2-d/lcInteractionBase2 inlineInteraction-d/lcGapMatch2 "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcGapMatch2.class">
        <xs:sequence>
            <xs:group ref="lcGapMatch2.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcGapMatch2.attributes"/>
    </xs:complexType>
    <xs:group name="lcGapMatch2.content">
        <xs:sequence>
            <xs:group ref="lcInteractionLabel2" minOccurs="0"/>
            <xs:group ref="lcQuestion2"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="basic.block"/>
            </xs:choice>
            <xs:group ref="lcInlineMap"/>
            <xs:group ref="lcFeedbackIncorrect2" minOccurs="0"/>
            <xs:group ref="lcFeedbackCorrect2" minOccurs="0"/>
            <xs:group ref="data" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcGapMatch2.attributes">
        <xs:attribute name="id" type="xs:NMTOKEN"/>
        <xs:attributeGroup ref="conref-atts"/>
        <xs:attributeGroup ref="select-atts"/>
        <xs:attributeGroup ref="localization-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    
    <xs:element name="lcHottext2">
        <xs:annotation>
            <xs:documentation>In a lcHottext interaction, the learner clicks on the answers in the text </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcHottext2.class">
                    <xs:attribute ref="class"
                        default="+ topic/div learningInteractionBase2-d/lcInteractionBase2 inlineInteraction-d/lcHottext2 "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcHottext2.class">
        <xs:sequence>
            <xs:group ref="lcHottext2.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcHottext2.attributes"/>
    </xs:complexType>
    <xs:group name="lcHottext2.content">
        <xs:sequence>
            <xs:group ref="lcInteractionLabel2" minOccurs="0"/>
            <xs:group ref="lcQuestion2"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="basic.block"/>
            </xs:choice>
            <xs:group ref="lcInlineMap"/>
            <xs:group ref="lcFeedbackIncorrect2" minOccurs="0"/>
            <xs:group ref="lcFeedbackCorrect2" minOccurs="0"/>
            <xs:group ref="data" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcHottext2.attributes">
        <xs:attribute name="id" type="xs:NMTOKEN"/>
        <xs:attributeGroup ref="conref-atts"/>
        <xs:attributeGroup ref="select-atts"/>
        <xs:attributeGroup ref="localization-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    
    <xs:element name="lcTextEntry2">
        <xs:annotation>
            <xs:documentation>In a lcTextEntry interaction, the learner fills in an answer in de gap, an answer can have alternative correct answers </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcTextEntry2.class">
                    <xs:attribute ref="class"
                        default="+ topic/div learningInteractionBase2-d/lcInteractionBase2 inlineInteraction-d/lcTextEntry2 "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcTextEntry2.class">
        <xs:sequence>
            <xs:group ref="lcTextEntry2.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcTextEntry2.attributes"/>
    </xs:complexType>
    <xs:group name="lcTextEntry2.content">
        <xs:sequence>
            <xs:group ref="lcInteractionLabel2" minOccurs="0"/>
            <xs:group ref="lcQuestion2"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="basic.block"/>
            </xs:choice>
            <xs:group ref="lcInlineGroupMap"/>
            <xs:group ref="lcFeedbackIncorrect2" minOccurs="0"/>
            <xs:group ref="lcFeedbackCorrect2" minOccurs="0"/>
            <xs:group ref="data" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcTextEntry2.attributes">
        <xs:attribute name="id" type="xs:NMTOKEN"/>
        <xs:attributeGroup ref="conref-atts"/>
        <xs:attributeGroup ref="select-atts"/>
        <xs:attributeGroup ref="localization-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    
    <xs:element name="lcInlineChoice2">
        <xs:annotation>
            <xs:documentation>In a lcInlineChoice interaction, the learner can choice between a few answer options that can fill a gap </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcInlineChoice2.class">
                    <xs:attribute ref="class"
                        default="+ topic/div learningInteractionBase2-d/lcInteractionBase2 inlineInteraction-d/lcInlineChoice2 "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcInlineChoice2.class">
        <xs:sequence>
            <xs:group ref="lcInlineChoice2.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcInlineChoice2.attributes"/>
    </xs:complexType>
    <xs:group name="lcInlineChoice2.content">
        <xs:sequence>
            <xs:group ref="lcInteractionLabel2" minOccurs="0"/>
            <xs:group ref="lcQuestion2"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="basic.block"/>
            </xs:choice>
            <xs:group ref="lcInlineGroupMap"/>
            <xs:group ref="lcFeedbackIncorrect2" minOccurs="0"/>
            <xs:group ref="lcFeedbackCorrect2" minOccurs="0"/>
            <xs:group ref="data" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcInlineChoice2.attributes">
        <xs:attribute name="id" type="xs:NMTOKEN"/>
        <xs:attributeGroup ref="conref-atts"/>
        <xs:attributeGroup ref="select-atts"/>
        <xs:attributeGroup ref="localization-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>

    
    <!-- ================================================================= -->
    
    <xs:element name="lcInlineMap">
        <xs:annotation>
            <xs:documentation>A lcInlineMap contains the response options</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcInlineMap.class">
                    <xs:attribute ref="class"
                        default="+ topic/div learningInteractionBase2-d/div inlineInteraction-d/lcGMMap "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcInlineMap.class">
        <xs:sequence>
            <xs:group ref="lcInlineMap.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcInlineMap.attributes"/>
    </xs:complexType>
    <xs:group name="lcInlineMap.content">
        <xs:sequence>
            <xs:group ref="lcInlineAnswer" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcInlineMap.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    
    <xs:element name="lcInlineAnswer">
        <xs:annotation>
            <xs:documentation>A lcInlineAnswer defines an answer, which can be linked to a placeholder </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcInlineAnswer.class">
                    <xs:attribute ref="class"
                        default="+ topic/div learningInteractionBase2-d/div inlineInteraction-d/lcInlineAnswer "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcInlineAnswer.class">
        <xs:sequence>
            <xs:group ref="lcInlineAnswer.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcInlineAnswer.attributes"/>
    </xs:complexType>
    <xs:group name="lcInlineAnswer.content">
        <xs:sequence>
            <xs:group ref="lcInlineAnswerContent"/>
            <xs:group ref="lcCorrectResponse2" minOccurs="0"/>
            <xs:group ref="lcFeedback2" minOccurs="0"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcInlineAnswer.attributes">
        <xs:attribute name="href" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    
    <xs:element name="lcInlineGroupMap">
        <xs:annotation>
            <xs:documentation>A lcInlineGroupMap contains the response options</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcInlineGroupMap.class">
                    <xs:attribute ref="class"
                        default="+ topic/div learningInteractionBase2-d/div inlineInteraction-d/lcInlineGroupMap "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcInlineGroupMap.class">
        <xs:sequence>
            <xs:group ref="lcInlineGroupMap.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcInlineGroupMap.attributes"/>
    </xs:complexType>
    <xs:group name="lcInlineGroupMap.content">
        <xs:sequence>
            <xs:group ref="lcInlineAnswerGroup" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcInlineGroupMap.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
  
  
    <xs:element name="lcInlineAnswerGroup">
        <xs:annotation>
            <xs:documentation>A lcInlineAnswerGroup defines a few possible answers, which can be linked to a placeholder </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcInlineAnswerGroup.class">
                    <xs:attribute ref="class"
                        default="+ topic/div learningInteractionBase2-d/div inlineInteraction-d/lcInlineAnswerGroup "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcInlineAnswerGroup.class">
        <xs:sequence>
            <xs:group ref="lcInlineAnswerGroup.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcInlineAnswerGroup.attributes"/>
    </xs:complexType>
    <xs:group name="lcInlineAnswerGroup.content">
        <xs:sequence>
            <xs:group ref="lcInlineAnswer" minOccurs="1" maxOccurs="unbounded"/>        
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcInlineAnswerGroup.attributes">
        <xs:attribute name="href" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    
    <xs:element name="lcInlineAnswerContent">
        <xs:annotation>
            <xs:documentation>A lcInlineAnswerContent defines the content of the answer option </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcInlineAnswerContent.class">
                    <xs:attribute ref="class"
                        default="+ topic/p learningInteractionBase2-d/p inlineInteraction-d/lcInlineAnswerContent "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcInlineAnswerContent.class" mixed="true">
        <xs:sequence>
            <xs:group ref="lcInlineAnswerContent.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcInlineAnswerContent.attributes"/>
    </xs:complexType>
    <xs:group name="lcInlineAnswerContent.content">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="basic.ph" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcInlineAnswerContent.attributes">
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>

</xs:schema>
