schema/dita_lce/lcePuzzleInteraction/lceAcrosticInteractionDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    
    <xs:annotation>
        <xs:appinfo>
            <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(lce lcearosticinteraction-d)</dita:domainsModule>
        </xs:appinfo>
    </xs:annotation>
    
    
    
    <!-- =============================================== -->

    
    <xs:group name="lceAcrosticPuzzle">
        <xs:sequence>
            <xs:element ref="lceAcrosticPuzzle" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceArosticWord">
        <xs:sequence>
            <xs:element ref="lceArosticWord" />
        </xs:sequence>
    </xs:group>
    
    
    <xs:group name="lceArosticOption">
        <xs:sequence>
            <xs:element ref="lceArosticOption" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceArosticOptionGrp">
        <xs:sequence>
            <xs:element ref="lceArosticOptionGrp" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceArosticWordContent">
        <xs:sequence>
            <xs:element ref="lceArosticWordContent" />
        </xs:sequence>
    </xs:group>

  <!-- ============================================= -->  
    
       
    <xs:element name="lceArosticWord">
        <xs:annotation>
            <xs:documentation>
                The word which has to be filled in
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceArosticWord.class">
                    <xs:attribute ref="class" default="+ topic/p lcearosticinteraction-d/lceArosticEntry "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    
    <xs:complexType name="lceArosticWord.class">
        <xs:sequence>
            <xs:group ref="lceArosticWord.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceArosticWord.attributes"/>
    </xs:complexType>
    
    <xs:group name="lceArosticWord.content">
        <xs:sequence>
            <xs:group ref="lceArosticWordContent"/>
            <xs:group ref="lcFeedback2" minOccurs="0"/>
        </xs:sequence>
    </xs:group>
    
    <xs:attributeGroup name="lceArosticWord.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceArosticWordContent">
        <xs:annotation>
            <xs:documentation>
                The lceArosticWordContent contains the word which has be be filled in.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceArosticWordContent.class">
                    <xs:attribute ref="class" default="+ topic/ph lcearosticinteraction-d/lceArosticWordContent "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceArosticWordContent.class">
        <xs:sequence>
            <xs:group ref="lceArosticWordContent.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceArosticWordContent.attributes"/>
    </xs:complexType>
    <xs:group name="lceArosticWordContent.content">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="lcePuzzleLetter" />
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceArosticWordContent.attributes">
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
     
  <!-- ========================================================== -->  
 
    <xs:element name="lceArosticOption">
        <xs:annotation>
            <xs:documentation>the lceArostic option contains the clue ad the entry which will lead to the lceArostic
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceArosticOption.class">
                    <xs:attribute ref="class" default="- topic/div lcearosticinteraction-d/lceArosticOption  "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceArosticOption.class">
        <xs:sequence>
            <xs:group ref="lceArosticOption.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceArosticOption.attributes"/>
    </xs:complexType>
    <xs:group name="lceArosticOption.content">
        <xs:sequence>
                <xs:group ref="lcePuzzleClue" minOccurs="1" maxOccurs="1"/>
                <xs:group ref="lceArosticWord" minOccurs="1" maxOccurs="1"/>
            
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceArosticOption.attributes">
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceArosticOptionGrp">
        <xs:annotation>
            <xs:documentation>the lceArostic option group contains all acrostic options
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceArosticOptionGrp.class">
                    <xs:attribute ref="class" default="- topic/div lcearosticinteraction-d/lceArosticOptionGrp  "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceArosticOptionGrp.class">
        <xs:sequence>
            <xs:group ref="lceArosticOptionGrp.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceArosticOptionGrp.attributes"/>
    </xs:complexType>
    <xs:group name="lceArosticOptionGrp.content">
        <xs:sequence>
            <xs:group ref="lceArosticOption" minOccurs="0" maxOccurs="1"/>    
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceArosticOptionGrp.attributes">
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
      
    
    <!-- lceArostic puzzle  -->
    
    <xs:element name="lceAcrosticPuzzle">
        <xs:annotation>
            <xs:documentation>
                Interaction in which the student has to fill in a entries to get a lceArostic.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceAcrosticPuzzle.class">
                    <xs:attribute ref="class" default="+ topic/div learningInteractionBase2-d/lcInteractionBase2 lcearosticinteraction-d/lceAcrosticPuzzle "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceAcrosticPuzzle.class">
        <xs:sequence>
            <xs:group ref="lceAcrosticPuzzle.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceAcrosticPuzzle.attributes"/>
    </xs:complexType>
    
    <xs:group name="lceAcrosticPuzzle.content">
        <xs:sequence>
            <xs:group ref="lcInteractionLabel2" minOccurs="0"/>
            <xs:group ref="lcQuestion2"/>
            <xs:group ref="lcAsset2" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="lceArosticOption" minOccurs="1" maxOccurs="unbounded"/>
            <xs:group ref="p" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="lcFeedbackIncorrect2" minOccurs="0"/>
            <xs:group ref="lcFeedbackCorrect2" minOccurs="0"/>
            <xs:group ref="data" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
     
    <xs:attributeGroup name="lceAcrosticPuzzle.attributes">
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
        <xs:attributeGroup ref="conref-atts"/>
        <xs:attributeGroup ref="select-atts"/>
        <xs:attributeGroup ref="localization-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    
    
</xs:schema>
