schema/dita_lce/lcePuzzleInteraction/lceCrossWordInteractionDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    
    <xs:annotation>
        <xs:appinfo>
            <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(lce lcecrossword-d)</dita:domainsModule>
        </xs:appinfo>
    </xs:annotation>

    
    <!-- =============================================== -->

    
    <xs:group name="lceCrossWordPuzzle">
        <xs:sequence>
            <xs:element ref="lceCrossWordPuzzle" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCrossWordGrid">
        <xs:sequence>
            <xs:element ref="lceCrossWordGrid" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCWGRow">
        <xs:sequence>
            <xs:element ref="lceCWGRow" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCWGEntry">
        <xs:sequence>
            <xs:element ref="lceCWGEntry"/>
        </xs:sequence>
    </xs:group>
  
    <xs:group name="lceGridref">
        <xs:sequence>
            <xs:element ref="lceGridref"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCWTable">
        <xs:sequence>
            <xs:element ref="lceCWTable" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCWPair">
        <xs:sequence>
            <xs:element ref="lceCWPair" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCWWord">
        <xs:sequence>
            <xs:element ref="lceCWWord" />
        </xs:sequence>
    </xs:group>
    

  <!-- ============================================= -->  
    
       
    <xs:element name="lceCrossWordGrid">
        <xs:annotation>
            <xs:documentation>Grid in which the crossword can be build</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCrossWordGrid.class">
                    <xs:attribute ref="class"
                        default="+ topic/simpletable learningInteractionBase2-d/simpletable lcecrossword-d/lceCrossWordGrid "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCrossWordGrid.class">
        <xs:sequence>
            <xs:group ref="lceCrossWordGrid.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCrossWordGrid.attributes"/>
    </xs:complexType>
    <xs:group name="lceCrossWordGrid.content">
        <xs:sequence>
            <xs:group ref="lceCWGRow" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCrossWordGrid.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup> 
    
    <xs:element name="lceCWGRow">
        <xs:annotation>
            <xs:documentation>Row in a crossword grid</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCWGRow.class">
                    <xs:attribute ref="class"
                        default="+ topic/strow learningInteractionBase2-d/strow lcecrossword-d/lceCWGRow "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCWGRow.class">
        <xs:sequence>
            <xs:group ref="lceCWGRow.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCWGRow.attributes"/>
    </xs:complexType>
    <xs:group name="lceCWGRow.content">
        <xs:sequence>
            <xs:group ref="lceCWGEntry" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCWGRow.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceCWGEntry">
        <xs:annotation>
            <xs:documentation>Cell in a crossword grid</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCWGEntry.class">
                    <xs:attribute ref="class"
                        default="+ topic/stentry learningInteractionBase2-d/stentry lcecrossword-d/lceCWGEntry "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCWGEntry.class">
        <xs:sequence>
            <xs:group ref="lceCWGEntry.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCWGEntry.attributes"/>
    </xs:complexType>
    <xs:group name="lceCWGEntry.content">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:group ref="lcePuzzleLetter" />
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCWGEntry.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>

    <xs:element name="lceGridref">
        <xs:annotation>
            <xs:documentation>Reference to the entry in the grid where the first letter of the word is standing which belongs to the clue.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceGridref.class">
                    <xs:attribute ref="class" default="+ topic/xref lcecrossword-d/lceGridref "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceGridref.class">
        <xs:sequence/>
        <xs:attributeGroup ref="lceGridref.attributes"/>
    </xs:complexType>
    <xs:group name="lceGridref.content">
        <xs:sequence/>
    </xs:group>
    <xs:attributeGroup name="lceGridref.attributes">
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="format" type="xs:string"/>
        <xs:attribute name="scope">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="external"/>
                    <xs:enumeration value="local"/>
                    <xs:enumeration value="peer"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceCWTable">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCWTable.class">
                    <xs:attribute ref="class"
                        default="+ topic/simpletable learningInteractionBase2-d/simpletable lceacrosticinteraction-d/lceCWTable "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCWTable.class">
        <xs:sequence>
            <xs:group ref="lceCWTable.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCWTable.attributes"/>
    </xs:complexType>
    <xs:group name="lceCWTable.content">
        <xs:sequence>
            <xs:group ref="lceCWPair" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCWTable.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceCWPair">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCWPair.class">
                    <xs:attribute ref="class"
                        default="+ topic/strow learningInteractionBase2-d/strow lceacrosticinteraction-d/lceCWPair "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCWPair.class">
        <xs:sequence>
            <xs:group ref="lceCWPair.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCWPair.attributes"/>
    </xs:complexType>
    <xs:group name="lceCWPair.content">
        <xs:sequence>
            <xs:group ref="lcePuzzleClue"/>
            <xs:group ref="lceCWWord"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCWPair.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceCWWord">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCWWord.class">
                    <xs:attribute ref="class"
                        default="+ topic/stentry learningInteractionBase2-d/stentry lceacrosticinteraction-d/lceCWWord "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCWWord.class">
        <xs:sequence>
            <xs:group ref="lceCWWord.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCWWord.attributes"/>
    </xs:complexType>
    <xs:group name="lceCWWord.content">
        <xs:sequence>
            <xs:choice>
                <xs:group ref="lceGridref" maxOccurs="1"/>
                <xs:group ref="lcePuzzleLetter" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
            
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCWWord.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    
    <!-- ====================================== -->
    
    <xs:element name="lceCrossWordPuzzle">
        <xs:annotation>
            <xs:documentation>
                Interaction in which the student has to fill in a crossword
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCrossWordPuzzle.class">
                    <xs:attribute ref="class" default="+ topic/div learningInteractionBase2-d/lcInteractionBase2 lcecrossword-d/lceCrossWordPuzzle "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCrossWordPuzzle.class">
        <xs:sequence>
            <xs:group ref="lceCrossWordPuzzle.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCrossWordPuzzle.attributes"/>
    </xs:complexType>
    
    <xs:group name="lceCrossWordPuzzle.content">
        <xs:sequence>
            <xs:group ref="lcInteractionLabel2" minOccurs="0"/>
            <xs:group ref="lcQuestion2"/>
            <xs:group ref="lcAsset2" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="lceCrossWordGrid" minOccurs="0"/>
            <xs:group ref="lceCWTable" minOccurs="1" maxOccurs="2"/>
            <xs:group ref="lcePuzzleSolution" minOccurs="0" maxOccurs="1"/>
            <xs:group ref="lcFeedbackIncorrect2" minOccurs="0"/>
            <xs:group ref="lcFeedbackCorrect2" minOccurs="0"/>
            <xs:group ref="data" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    
    <xs:attributeGroup name="lceCrossWordPuzzle.attributes">
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
        <xs:attributeGroup ref="conref-atts"/>
        <xs:attributeGroup ref="select-atts"/>
        <xs:attributeGroup ref="localization-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    
    
</xs:schema>
