schema/dita_lce/lcePuzzleInteraction/lceCrossWordInteractionDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    
    <xs:annotation>
        <xs:appinfo>
            <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(lce lcecrossword-d)</dita:domainsModule>
        </xs:appinfo>
    </xs:annotation>

    
    <!-- =============================================== -->

    
    <xs:group name="lceCrossWordPuzzle">
        <xs:sequence>
            <xs:element ref="lceCrossWordPuzzle" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCrossWordGrid">
        <xs:sequence>
            <xs:element ref="lceCrossWordGrid" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCrossWordRow">
        <xs:sequence>
            <xs:element ref="lceCrossWordRow" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCrossWordGridEntry">
        <xs:sequence>
            <xs:element ref="lceCrossWordGridEntry"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCrossWordOption">
        <xs:sequence>
            <xs:element ref="lceCrossWordOption"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCrossWordOptionGroup">
        <xs:sequence>
            <xs:element ref="lceCrossWordOptionGroup"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceCrossWordEntry">
        <xs:sequence>
            <xs:element ref="lceCrossWordEntry"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceGridref">
        <xs:sequence>
            <xs:element ref="lceGridref"/>
        </xs:sequence>
    </xs:group>
    

  <!-- ============================================= -->  
    
       
    <xs:element name="lceCrossWordGrid">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCrossWordGrid.class">
                    <xs:attribute ref="class"
                        default="+ topic/simpletable learningInteractionBase2-d/simpletable lcecrossword-d/lceCrossWordGrid "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCrossWordGrid.class">
        <xs:sequence>
            <xs:group ref="lceCrossWordGrid.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCrossWordGrid.attributes"/>
    </xs:complexType>
    <xs:group name="lceCrossWordGrid.content">
        <xs:sequence>
            <xs:group ref="lceCrossWordRow" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCrossWordGrid.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup> 
    
    <xs:element name="lceCrossWordRow">
        <xs:annotation>
            <xs:documentation>The &lt;lcMatchingPair2&gt; element in an assessment interaction provides a table row with the pair of items that comprise a correct match in a matching interaction. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCrossWordRow.class">
                    <xs:attribute ref="class"
                        default="+ topic/strow learningInteractionBase2-d/strow lcecrossword-d/lceCrossWordRow "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCrossWordRow.class">
        <xs:sequence>
            <xs:group ref="lceCrossWordRow.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCrossWordRow.attributes"/>
    </xs:complexType>
    <xs:group name="lceCrossWordRow.content">
        <xs:sequence>
            <xs:group ref="lceCrossWordGridEntry" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCrossWordRow.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceCrossWordGridEntry">
        <xs:annotation>
            <xs:documentation> </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCrossWordGridEntry.class">
                    <xs:attribute ref="class"
                        default="+ topic/stentry learningInteractionBase2-d/stentry lcecrossword-d/lceCrossWordGridEntry "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCrossWordGridEntry.class" mixed="true">
        <xs:sequence>
            <xs:group ref="lceCrossWordGridEntry.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCrossWordGridEntry.attributes"/>
    </xs:complexType>
    <xs:group name="lceCrossWordGridEntry.content">
        <xs:sequence>
            <xs:group ref="lcePuzzleLetter" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCrossWordGridEntry.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceCrossWordOption">
        <xs:annotation>
            <xs:documentation>the lceArostic option contains the clue ad the entry which will lead to the lceArostic
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCrossWordOption.class">
                    <xs:attribute ref="class" default="- topic/div lcecrossword-d/lceCrossWordOption  "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCrossWordOption.class">
        <xs:sequence>
            <xs:group ref="lceCrossWordOption.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCrossWordOption.attributes"/>
    </xs:complexType>
    <xs:group name="lceCrossWordOption.content">
        <xs:sequence>
            <xs:group ref="lcePuzzleClue" minOccurs="1" maxOccurs="1"/>
            <xs:group ref="lceCrossWordEntry" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCrossWordOption.attributes">
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceGridref">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceGridref.class">
                    <xs:attribute ref="class" default="- topic/xref lcecrossword-d/lceGridref "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceGridref.class" mixed="true">
        <xs:sequence>
            <xs:group ref="lceGridref.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceGridref.attributes"/>
    </xs:complexType>
    <xs:group name="lceGridref.content">
        <xs:sequence/>
    </xs:group>
    <xs:attributeGroup name="lceGridref.attributes">
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="format" type="xs:string"/>
        <xs:attribute name="scope">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="external"/>
                    <xs:enumeration value="local"/>
                    <xs:enumeration value="peer"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceCrossWordEntry">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCrossWord.class">
                    <xs:attribute ref="class" default="- topic/p lcecrossword-d/lceCrossWord "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCrossWord.class">
        <xs:sequence>
            <xs:group ref="lceCrossWord.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCrossWord.attributes"/>
    </xs:complexType>
    <xs:group name="lceCrossWord.content">
        <xs:sequence>
            <xs:group ref="lceGridref" minOccurs="0" maxOccurs="1"/>
            <xs:group ref="lcePuzzleLetter" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCrossWord.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>

    <xs:element name="lceCrossWordOptionGroup">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCrossWordOptionGroup.class">
                    <xs:attribute ref="class" default="- topic/div lcecrossword-d/lceCrossWordOptionGroup  "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCrossWordOptionGroup.class">
        <xs:sequence>
            <xs:group ref="lceCrossWordOptionGroup.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCrossWordOptionGroup.attributes"/>
    </xs:complexType>
    <xs:group name="lceCrossWordOptionGroup.content">
        <xs:sequence>
            <xs:group ref="lceCrossWordOption" minOccurs="0" maxOccurs="unbounded"/>    
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceCrossWordOptionGroup.attributes">
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    
    <!-- ====================================== -->
    
    <xs:element name="lceCrossWordPuzzle">
        <xs:annotation>
            <xs:documentation>
                Interaction in which the student has to fill in a entries to get a lceArostic.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceCrossWordPuzzle.class">
                    <xs:attribute ref="class" default="+ topic/div learningInteractionBase2-d/lcInteractionBase2 lcecrossword-d/lceCrossWordPuzzle "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceCrossWordPuzzle.class">
        <xs:sequence>
            <xs:group ref="lceCrossWordPuzzle.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceCrossWordPuzzle.attributes"/>
    </xs:complexType>
    
    <xs:group name="lceCrossWordPuzzle.content">
        <xs:sequence>
            <xs:group ref="lcInteractionLabel2" minOccurs="0"/>
            <xs:group ref="lcQuestion2"/>
            <xs:group ref="lcAsset2" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="lceCrossWordGrid" minOccurs="0"/>
            <xs:group ref="lceCrossWordOptionGroup"/>
            <xs:group ref="lcFeedbackIncorrect2" minOccurs="0"/>
            <xs:group ref="lcFeedbackCorrect2" minOccurs="0"/>
            <xs:group ref="data" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    
    <xs:attributeGroup name="lceCrossWordPuzzle.attributes">
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
        <xs:attributeGroup ref="conref-atts"/>
        <xs:attributeGroup ref="select-atts"/>
        <xs:attributeGroup ref="localization-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    
    
</xs:schema>
