schema/dita_lce/lcePuzzleInteraction/lcePuzzleGeneralDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    
    <xs:annotation>
        <xs:appinfo>
            <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(lce lcepuzzle-d)</dita:domainsModule>
        </xs:appinfo>
    </xs:annotation>
    
    
    
    <!-- =============================================== -->
    
    <xs:group name="lcepuzzle-d-div">
        <xs:sequence>
            <xs:choice>
                <!--<xs:element ref="lceAcrosticPuzzle"/>
                <xs:element ref="lceCrossWordPuzzle"/>-->
                <xs:element ref="lcePuzzle"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcepuzzle-d-lcInteractionBase2">
        <xs:sequence>
            <xs:choice>
                <!--<xs:element ref="lceAcrosticPuzzle"/>
                <xs:element ref="lceCrossWordPuzzle"/>-->
                <xs:element ref="lcePuzzle"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcePuzzleGrid">
        <xs:sequence>
            <xs:element ref="lcePuzzleGrid" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcePuzzleRow">
        <xs:sequence>
            <xs:element ref="lcePuzzleRow" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcePuzzleEntry">
        <xs:sequence>
            <xs:element ref="lcePuzzleEntry" />
        </xs:sequence>
    </xs:group>

    <xs:group name="lcePuzzleLetter">
        <xs:sequence>
            <xs:element ref="lcePuzzleLetter" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcePuzzleClue">
        <xs:sequence>
            <xs:element ref="lcePuzzleClue" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcePuzzleClueGroup">
        <xs:sequence>
            <xs:element ref="lcePuzzleClueGroup" />
        </xs:sequence>
    </xs:group>
 
    <xs:group name="lcePuzzleSolution">
        <xs:sequence>
            <xs:element ref="lcePuzzleSolution" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcePuzzleSolutionWord">
        <xs:sequence>
            <xs:element ref="lcePuzzleSolutionWord" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceSolutionLetter">
        <xs:sequence>
            <xs:element ref="lceSolutionLetter" />
        </xs:sequence>
    </xs:group>
   
  <!-- ============================================= -->  
    <xs:element name="lcePuzzleGrid">
        <xs:annotation>
            <xs:documentation>Grid in which the arostic or crossword must be build</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcePuzzleGrid.class">
                    <xs:attribute ref="class"
                        default="+ topic/simpletable learningInteractionBase2-d/simpletable lcepuzzle-d/lcePuzzleGrid "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcePuzzleGrid.class">
        <xs:sequence>
            <xs:group ref="lcePuzzleGrid.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcePuzzleGrid.attributes"/>
    </xs:complexType>
    <xs:group name="lcePuzzleGrid.content">
        <xs:sequence>
            <xs:group ref="lcePuzzleRow" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcePuzzleGrid.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup> 
    
    <xs:element name="lcePuzzleRow">
        <xs:annotation>
            <xs:documentation>Row in an acrostic or crossword grid</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcePuzzleRow.class">
                    <xs:attribute ref="class"
                        default="+ topic/strow learningInteractionBase2-d/strow lcepuzzle-d/lcePuzzleRow "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcePuzzleRow.class">
        <xs:sequence>
            <xs:group ref="lcePuzzleRow.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcePuzzleRow.attributes"/>
    </xs:complexType>
    <xs:group name="lcePuzzleRow.content">
        <xs:sequence>
            <xs:group ref="lcePuzzleEntry" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcePuzzleRow.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lcePuzzleEntry">
        <xs:annotation>
            <xs:documentation>Cell in an acrostic or crossword grid</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcePuzzleEntry.class">
                    <xs:attribute ref="class"
                        default="+ topic/stentry learningInteractionBase2-d/stentry lcepuzzle-d/lcePuzzleEntry "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcePuzzleEntry.class">
        <xs:sequence>
            <xs:group ref="lcePuzzleEntry.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcePuzzleEntry.attributes"/>
    </xs:complexType>
    <xs:group name="lcePuzzleEntry.content">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:group ref="lcePuzzleLetter" />
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcePuzzleEntry.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lcePuzzleLetter">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Letter for the solution
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="lcePuzzleLetter.class">
                    <xs:attribute ref="class" default="+ topic/ph lcepuzzle-d/lcePuzzleLetter "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcePuzzleLetter.class" mixed="true">
        <xs:attributeGroup ref="lcePuzzleLetter.attributes"/>
    </xs:complexType>
    <xs:attributeGroup name="lcePuzzleLetter.attributes">
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lcePuzzleSolution">
        <xs:annotation>
            <xs:documentation>
                The solution of a puzzle, can contain text and the solution word
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcePuzzleSolution.class">
                    <xs:attribute ref="class" default="+ topic/div lcepuzzle-d/lcePuzzleSolution "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcePuzzleSolution.class" mixed="true">
        <xs:sequence>
            <xs:group ref="lcePuzzleSolution.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcePuzzleSolution.attributes"/>
    </xs:complexType>
    <xs:group name="lcePuzzleSolution.content">
        <xs:sequence> 
            <xs:group ref="p" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="lcePuzzleSolutionWord" maxOccurs="1"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcePuzzleSolution.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lcePuzzleSolutionWord">
        <xs:annotation>
            <xs:documentation>
                The word which is the solution of the different letters with have the attribute @solutionposition
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcePuzzleSolutionWord.class">
                    <xs:attribute ref="class" default="+ topic/p lcepuzzle-d/lcePuzzleSolutionWord "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcePuzzleSolutionWord.class">
        <xs:sequence>
            <xs:group ref="lceSolutionLetter" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcePuzzleSolutionWord.attributes"/>
    </xs:complexType>
    <xs:attributeGroup name="lcePuzzleSolutionWord.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceSolutionLetter">
        <xs:annotation>
            <xs:documentation>Letter of the overall solution refers to a puzzle letter</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceSolutionLetter.class">
                    <xs:attribute ref="class"
                        default="+ topic/xref learningInteractionBase2-d/xref  lcepuzzle-d/lceSolutionLetter "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceSolutionLetter.class">
        <xs:sequence>
            <xs:group ref="lceSolutionLetter.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceSolutionLetter.attributes"/>
    </xs:complexType>
    <xs:group name="lceSolutionLetter.content">
        <xs:sequence/>  
    </xs:group>
    <xs:attributeGroup name="lceSolutionLetter.attributes">
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="format" type="xs:string"/>
        <xs:attribute name="scope">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="external"/>
                    <xs:enumeration value="local"/>
                    <xs:enumeration value="peer"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
         
    <xs:element name="lcePuzzleClue">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcePuzzleClue.class">
                    <xs:attribute ref="class" default="+ topic/xref learningInteractionBase2-d/dxref lcepuzzle-d/lcePuzzleClue "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcePuzzleClue.class" mixed="true">
        <xs:sequence>
            <xs:group ref="lcePuzzleClue.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcePuzzleClue.attributes"/>
    </xs:complexType>
    <xs:group name="lcePuzzleClue.content">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="image"/>
                <xs:group ref="desc"/>
            </xs:choice>
            <xs:group ref="lceFeedbackInlineCorrect" minOccurs="0" maxOccurs="1"/>
            <xs:group ref="lceFeedbackInlineIncorrect" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcePuzzleClue.attributes">
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="format" type="xs:string"/>
        <xs:attribute name="scope">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="external"/>
                    <xs:enumeration value="local"/>
                    <xs:enumeration value="peer"/>
                    <xs:enumeration value="-dita-use-conref-target"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lcePuzzleClueGroup">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcePuzzleClueGroup.class">
                    <xs:attribute ref="class" default="+ topic/p learningInteractionBase2-d/p lcepuzzle-d/lcePuzzleClueGroup  "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcePuzzleClueGroup.class">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="p" minOccurs="0"/>
            <xs:group ref="lcePuzzleClue"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcePuzzleClueGroup.attributes"/>
    </xs:complexType>
    <xs:attributeGroup name="lcePuzzleClueGroup.attributes">
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <!-- lcePuzzle  -->
    
    <xs:element name="lcePuzzle">
        <xs:annotation>
            <xs:documentation>
                Interaction in which the student has to fill in words in a grid. It can be an acrostic or a crossword puzzle.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lcePuzzle.class">
                    <xs:attribute ref="class" default="+ topic/div learningInteractionBase2-d/lcInteractionBase2 lcepuzzle-d/lcePuzzle "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lcePuzzle.class">
        <xs:sequence>
            <xs:group ref="lcePuzzle.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lcePuzzle.attributes"/>
    </xs:complexType>
    <xs:group name="lcePuzzle.content">
        <xs:sequence>
            <xs:group ref="lcInteractionLabel2" minOccurs="0"/>
            <xs:group ref="lcQuestion2"/>
            <xs:group ref="lcAsset2" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="lcePuzzleGrid" minOccurs="1" maxOccurs="1"/>
            <xs:group ref="lcePuzzleClueGroup" minOccurs="1" maxOccurs="unbounded"/>
            <xs:group ref="lcePuzzleSolution" minOccurs="0" maxOccurs="1"/>
            <xs:group ref="lcFeedbackIncorrect2" minOccurs="0"/>
            <xs:group ref="lcFeedbackCorrect2" minOccurs="0"/>
            <xs:group ref="data" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lcePuzzle.attributes">
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
        <xs:attributeGroup ref="conref-atts"/>
        <xs:attributeGroup ref="select-atts"/>
        <xs:attributeGroup ref="localization-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
  
</xs:schema>
