schema/dita_lce/lcePuzzleInteraction/lcePuzzleGeneralDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    
    <xs:annotation>
        <xs:appinfo>
            <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(lce lcepuzzle-d)</dita:domainsModule>
        </xs:appinfo>
    </xs:annotation>
    
    
    
    <!-- =============================================== -->
    
    <xs:group name="lcepuzzle-d-div">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lceAcrosticPuzzle"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lcepuzzle-d-lcInteractionBase2">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="lceAcrosticPuzzle"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    

    <xs:group name="puzzleLetter">
        <xs:sequence>
            <xs:element ref="puzzleLetter" />
        </xs:sequence>
    </xs:group>
    
   
  <!-- ============================================= -->  
    
    <xs:element name="puzzleLetter">
        <xs:complexType mixed="true">
            <xs:annotation>
                <xs:documentation>
                    Letter for the solution
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="puzzleLetter.class">
                    <xs:attribute ref="class" default="+ topic/ph lcepuzzle-d/puzzleLetter "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="puzzleLetter.class" mixed="true">
        <xs:attributeGroup ref="puzzleLetter.attributes"/>
    </xs:complexType>
    
    <xs:attributeGroup name="puzzleLetter.attributes">
        <xs:attribute name="keyref" type="xs:string"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
 
    
</xs:schema>
