schema/dita_lce/lceData/lceDataDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:annotation>
        <xs:appinfo>
            <dita:domainsModule xmlns:dita="http://dita.oasis-open.org/architecture/2005/">(lce lcedata-d)</dita:domainsModule>
        </xs:appinfo>
    </xs:annotation>
    
    
    <xs:group name="lcedata-d-data">
        <xs:choice>
            <xs:element ref="lceEduData"/>
        </xs:choice>
    </xs:group>
    
    <xs:group name="lceScore">
        <xs:sequence>
            <xs:element ref="lceScore" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceLomEdu">
        <xs:sequence>
            <xs:element ref="lceLomEdu" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceEduData">
        <xs:sequence>
            <xs:element ref="lceEduData" />
        </xs:sequence>
    </xs:group>
    
    <xs:group name="lceUploadObject">
        <xs:sequence>
            <xs:element ref="lceUploadObject" />
        </xs:sequence>
    </xs:group>
  
 
    <!-- ============================================== -->   
    
    <xs:element name="lceScore">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceScore.class">
                    <xs:attribute ref="class" default="- topic/data lcedata-d/lceScore "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceScore.class" mixed="true">
        <xs:sequence>
            <xs:group ref="lceScore.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceScore.attributes"/>
    </xs:complexType>
    <xs:group name="lceScore.content">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="basic.ph"/>
                <xs:group ref="image"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceScore.attributes">
        <xs:attributeGroup ref="data-element-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceUploadObject">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceUploadObject.class">
                    <xs:attribute ref="class" default="- topic/object lcedata-d/lceUploadObject "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceUploadObject.class">
        <xs:sequence>
            <xs:group ref="lceUploadObject.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceUploadObject.attributes"/>
    </xs:complexType>
    <xs:group name="lceUploadObject.content">
        <xs:sequence>
            <xs:group ref="desc" minOccurs="0"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceUploadObject.attributes">
        <xs:attribute name="declare">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="declare"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="classid" type="xs:string"/>
        <xs:attribute name="classidkeyref" type="xs:string"/>
        <xs:attribute name="codebase" type="xs:string"/>
        <xs:attribute name="codebasekeyref" type="xs:string"/>
        <xs:attribute name="data" type="xs:string"/>
        <xs:attribute name="datakeyref" type="xs:string"/>
        <xs:attribute name="type" type="uploadtype-atts.class" use="optional"/>
        <xs:attribute name="codetype" type="xs:string"/>
        <xs:attribute name="archive" type="xs:string"/>
        <xs:attribute name="archivekeyrefs" type="xs:string"/>
        <xs:attribute name="standby" type="xs:string"/>
        <xs:attribute name="height" type="xs:NMTOKEN"/>
        <xs:attribute name="width" type="xs:NMTOKEN"/>
        <xs:attribute name="usemap" type="xs:string"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="tabindex" type="xs:NMTOKEN"/>
        <xs:attribute name="longdescref" type="xs:string"/>
        <xs:attributeGroup ref="univ-atts"/>
        <xs:attribute name="outputclass" type="xs:string"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:simpleType name="uploadtype-atts.class">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pdf"/>
            <xs:enumeration value="doc"/>
            <xs:enumeration value="ppt"/>
            <xs:enumeration value="xls"/>
            <xs:enumeration value="xml"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="lceLomEdu">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceLomEdu.class">
                    <xs:attribute ref="class" default="- topic/data lcedata-d/lceLomEdu "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceLomEdu.class">
        <xs:sequence>
            <xs:group ref="lceLomEdu.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceLomEdu.attributes"/>
    </xs:complexType>
    <xs:group name="lceLomEdu.content">
        <xs:sequence>
            <xs:sequence>
                <xs:group ref="lomInteractivityType" minOccurs="0"/>
                <xs:group ref="lomLearningResourceType" minOccurs="0"/>
                <xs:group ref="lomInteractivityLevel" minOccurs="0"/>
                <xs:group ref="lomSemanticDensity" minOccurs="0"/>
                <xs:group ref="lomIntendedUserRole" minOccurs="0"/>
                <xs:group ref="lomContext" minOccurs="0"/>
                <xs:group ref="lomTypicalAgeRange" minOccurs="0"/>
                <xs:group ref="lomDifficulty" minOccurs="0"/>
                <xs:group ref="lomTypicalLearningTime" minOccurs="0"/>
            </xs:sequence>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceLomEdu.attributes">
        <xs:attributeGroup ref="data-element-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
    
    <xs:element name="lceEduData">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="lceEduData.class">
                    <xs:attribute ref="class" default="- topic/data lcedata-d/lceEduData "/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="lceEduData.class">
        <xs:sequence>
            <xs:group ref="lceEduData.content"/>
        </xs:sequence>
        <xs:attributeGroup ref="lceEduData.attributes"/>
    </xs:complexType>
    <xs:group name="lceEduData.content">
        <xs:sequence>
            <xs:group ref="lceScore" minOccurs="0" maxOccurs="1"/>
            <xs:group ref="lceLomEdu" minOccurs="0" />
            <xs:group ref="lceUploadObject" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="lceEduData.attributes">
        <xs:attributeGroup ref="data-element-atts"/>
        <xs:attributeGroup ref="global-atts"/>
    </xs:attributeGroup>
</xs:schema>
